{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'img/logo.ico' %}">
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        <script src="{% static 'js/landingpage.js' %}" defer></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />

        <title>EZPARK</title>

</head>
<body>
    <!-- navbar -->
     <nav>
        <a href="{% url 'landing' %}" class="brand">
            <h1><b class="accent">EZ</b><b class="black">PARK</b></h1>
        </a>
        <div class="menu">
            <div class="btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <a href="{% url 'landing' %}">HOME</a>
            <a href="{% url 'about' %}">ABOUT</a>
            <a href="{% url 'services' %}">SERVICES</a>
            <a href="{% url 'reviews' %}">REVIEWS</a>
        </div>

        <button class="btn-2" onclick='window.location.href="{% url "login" %}"'>
            Go to Reviews
        </button>

        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
     </nav>

     <!-- hero section -->
      <div class="hero-page">
        <div class="hero-headlines">
            <h1>
                Welcome to <b class="accent">EZ</b><b class="black">PARK</b> where parking meets easy street.
            </h1>
            <p>
                We help you find, reserve, and manage parking spots in just a few taps. Experience hassle-free parking with EZPark.
            </p>
            <button class="btn-2 btn-hero" onclick="window.location.href='login.html'">
                RESERVE HERE!
            </button>
            <div class="download-buttons">
                <img src="{% static 'img/downloadapp.png' %}" alt="img">
            </div>
        </div>
      </div>

      <!-- about section -->
       <section class="about" id="about">
        <div class="about-container">
            <h1>Your Premier Choice for Effortless Parking</h1>
            <p>
                Experience real-time availability updates, navigation assistance, and advanced reservations, EZPARK makes parking easier and stress-free.
            </p>

            <div class="about-info">
                <div class="about-info-item">
                    <hr class="about-hr" />
                    <img src="{% static 'img/realtime.png' %}" alt="img" />
                    <h5>Real-time</h5>
                    <p>EZPARK provides real-time data on available parking spots, allowing users to find open spaces quickly and avoid the hassle of searching manually.</p>
                </div>
                <div class="about-info-item">
                    <hr class="about-hr" />
                    <img src="{% static 'img/advance.png' %}" alt="img" />
                    <h5>Advanced</h5>
                    <p>Users can book parking spaces in advance through EZPARK, ensuring they have a reserved spot, especially during peak hours or events.
                    </p>
                </div>
                <div class="about-info-item">
                    <hr class="about-hr" />
                    <img src="{% static 'img/navigation.png' %}" alt="img" />
                    <h5>Navigation</h5>
                    <p>EZPARK provides turn-by-turn navigation to guide users directly to their reserved parking spots, making it easier to locate parking in unfamiliar areas.
                    </p>
                </div>
            </div>
        </div>
       </section>

       <!-- footer -->
        <footer class="index-footer">
            <div class="callout">
                <h2>Park with EZPARK now!</h2>
                <p class="callout-description">
                    We help you find, reserve, and manage parking spots in just a few taps. Experience hassle-free parking with EZPARK.
                </p>
                <div class="callout-buttons">
                    <button
                    class="btn-2 btn-callout"
                    onclick="window.location.href='services.html'">
                <p>Our Services</p>
                <i class="fa-solid fa-arrow-right-long">
                </i>
                </button>
                <button
                    class="btn-2 btn-callout-black"
                    onclick="window.location.href='login.html'">
                <p>Reserve Now</p>
                <i class="fa-solid fa-bookmark">
                </i>
                </button>
                </div>
            </div>
        </footer>
</body>
</html>