{% extends 'park/base.html' %}
{% load static %}
{% block content %}
<div class="card text-center">
    <h5 class="card-header">QR Code for Reservation</h5>
    <div class="card-body">
        <h5 class="card-title">Parking Spot: {{ reservation.spot.spot_number }} - {{ reservation.spot.name }}</h5>
        <p class="card-text">Reservation from {{ reservation.start_time|date:"M d, Y h:i A" }} to {{ reservation.end_time|date:"M d, Y h:i A" }}</p>
        <div class="qr-code">
            {% if reservation.qr %}
              <img src="{{ reservation.qr.url }}" alt="QR Code" class="img-fluid">
            {% else %}
              <p>No QR Code available for this reservation.</p>
            {% endif %}
        </div>
        <a href="{% url 'current' %}" class="btn btn-primary mt-3">Back to Reservations</a>
    </div>
</div>
{% endblock %}
